<div id="bus-{{gl.bus.id}}-{{gl.id}}-editGL" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Edit GL {{gl.address}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              {{input class="form-control" type="text" value=name}}
            </div>
          </div>
          <hr/>
          <div class="form-group">
            <label class="col-sm-3 control-label">CV type</label>
            <div class="dropdown col-sm-2">
              <button class="btn btn-default dropdown-toggle" type="button" id="cvType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{cv.type}}
                <span class="caret"/>
              </button>
              <ul class="dropdown-menu" aria-labelledby="cvType">
                <li><a {{action "setCVType" "CV"}}>CV</a></li>
                <li><a {{action "setCVType" "CVBIT"}}>CVBIT</a></li>
                <li><a {{action "setCVType" "REG"}}>REG</a></li>
                <li><a {{action "setCVType" "PAGE"}}>PAGE</a></li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Address</label>
            <div class="col-sm-2">
              {{input class="form-control" type="number" min="1" max=cv.maxAddress value=cv.address focus-out=(action "showValidation" "address")}}
            </div>
          </div>
          {{#if showAddressValidation}}
            {{#if (v-get cv "address" "isInvalid")}}
              <div class="form-group">
                <div class="error col-sm-offset-3 col-sm-8">
                  {{v-get cv "address" "message"}}
                </div>
              </div>
            {{/if}}
          {{/if}}
          <div class="form-group">
            <label class="col-sm-3 control-label">Value</label>
            <div class="col-sm-2">
              {{input class="form-control" type="number" min="0" max=cv.maxValue value=cv.value focus-out=(action "showValidation" "value")}}
            </div>
            <label class="col-sm-1 control-label">Bit</label>
            <div class="col-sm-2">
              {{input class="form-control" type="number" min="0" max="7" value=cv.bit disabled=(if cv.bitEnabled false true) focus-out=(action "showValidation" "bit")}}
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-primary" disabled={{v-get cv 'isInvalid'}} {{action "setCV"}}>
                Set
              </button>
            </div>
          </div>
          {{#if showValueValidation}}
            {{#if (v-get cv "value" "isInvalid")}}
              <div class="form-group">
                <div class="error col-sm-offset-3 col-sm-8">
                  {{v-get cv "value" "message"}}
                </div>
              </div>
            {{/if}}
          {{/if}}
          {{#if showBitValidation}}
            {{#if (v-get cv "bit" "isInvalid")}}
              <div class="form-group">
                <div class="error col-sm-offset-3 col-sm-8">
                  {{v-get cv "bit" "message"}}
                </div>
              </div>
            {{/if}}
          {{/if}}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" {{action "apply"}}>Apply</button>
      </div>
    </div>
  </div>
</div>
